*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
a{
    text-decoration: none;
}
    color: #32cb9a;
    
}

body {
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #5ddaa3;
    font-size: 20px;
    /* background-color: #550c0c; */
   background-color: #fff;
    background-size:cover;
    background-repeat: no-repeat;
    
}

header .logo-text{
    color: #32cb9a;
}
.menu a{
    color: #5ddaa3;
}

.dark{
    --bg-color: hsl(var(--main-hue), 30%, 16.5%);
    --input-bg: hsla(var(--main-hue), 22%, 50%, 11%);
    --input-bg-hover: hsla(var(--main-hue), 22%, 50%, 18.5%);
    --nav-color: hsl(var(--main-hue), 10%, 47%);
    --light-text-color: hsl(var(--main-hue), 12%, 46%);
    --input-text: hsl(var(--main-hue), 10%, 55%);
    --input-shadow: hsla(var(--main-hue), 92%, 58%, 0.2);
}

a{
    color: #5ddaa3;
}
header{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    color: #5ddaa3;
    border-bottom: 5px solid rgb(240, 238, 238);

    .logo-holder{
        display: flex;
        padding: 10px;
        align-items: center;
        font-weight: 600;
        color: #5ddaa3;
        height: 64px;
        width: 64;
        margin-right: 20px;
        border-radius: 50%;
    }

    nav{
        display: flex;
        align-items: center;
        ul {
            display: flex;
            list-style-type: none;
            gap: 5px;
            li{
                display: inline-block;
                a{
                    display: inline-block;
                    padding: 10px 20px;
                    color: #5ddaa3;
                    &:hover {
                        background-color: #5ddaa3;
                        border-radius: 10px;
                        color: #014644;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    @media(max-width: 1024px) {
        flex-direction: column;
        align-items: center;
    }

    @media(max-width: 768px) {
        flex-direction: column;
        align-items: center;
        nav {
            margin-top: 10px;
            width: 100%;
            ul{
                display: none;
                flex-direction: column;
                text-align: center;
                width: 100%;
                a{
                    width: 100%;
                }
                &.active {
                    display: flex;
                }
            }
        }
    }
}


.contact{
    width: 100%;
    overflow: hidden;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,217,68,1) 100%);
}

.contact .container{
    height: 100vh;
    min-height: 700px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.contact .container > div {
    grid-column: 1/2;
    grid-row: 1/2;
}

.left{
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 65px 1.5rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    position: relative;
}

.contact-heading h1{
    font-size: 3.5rem;
    font-weight: 600;
color: #32cb9a;
    line-height: 0,9;
    white-space: nowrap;
    margin-bottom: 1.2rem;
}

.contact-heading h1 span{
    color: #32cb9a;
    transition: 0.3s;
}

.text {
    color: #5ddaa3;
    line-height: 1.1;
    font-size: 1rem;
}

.text a {
    color: #070a09;
    transition: 0.3s;
}

.text a:hover{
    color: #070a09;
    transition: 0.3s;
}

.form-wrapper{
    max-width: 32rem;
}

.contact-form{
    display: grid;
    margin-top: 2.55rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding: 10px;
    gap: 10px;
   /* background-color: #32cb9a; */
   border-radius: 25px;
    row-gap: 1rem;
}



.contact-input{
    width: 100%;
    background-color: hsla(var(--main-hue), 50%, 50%, 6.5%);
    padding: 1.5rem 1.3rem calc(0.75rem - 2px) 1.35rem;
    border: none;
    outline: none;
    font-family: inherit;
    border-radius: 20px;
    color: #32cb9a;
    font-weight: 600;
    font-size: 0.95rem;
    transition: 0.3s;
}
.input-wrap{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: #32cb9a;
    background: #5ddaa3;
    text-align: left;
}
label{
    width: 150px;
}
.contact-input:hover{
    background-color: transparent;
}
.input-wrap:hover label {
    font-weight: 500;
    color: #cb8632;
}
.input-wrap:hover label{
    position: absolute;
    top: 50%;
    transform: translateY(-90%);
    pointer-events: none;
}
.input-wrap label{
    position: absolute;
    top: 50%;
    opacity: 0.5;
    transform: translateY(-90%);
    color: #5ddaa3;
    pointer-events: none;
    transition: 0.25s;
}

.input-wrap .icon{
    position: absolute;
    right: calc(1.35rem + 2px);
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--input-text);
    font-size: 1.25rem;
    transition: 0.3s;
}

textarea.contact-input{
    resize: none;
    width: 100%;
    min-height: 150px;
}

textarea.contact-input ~ label{
    top:1.2rem;
    transform: none;
}

textarea.contact-input ~ .icon{
    top: 1.2rem;
    transform: none;
}
.input-wrap.focus .contact-input{
  background-color: #014644;
  border: 2px solid #5ddaa3;
}

.input-wrap.focus label{
    color: aquamarine;
}

.input-wrap.focus .icon{
    color: aquamarine;
}

.input-wrap.not-empty label{
    font-size: 0.66rem;
    top: 0.75rem;
    transform: translateY(0);
}

.contact-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    grid-column: span 2;
}

.btn{
    display: inline-block;
    padding: 1.1rem 2rem;
    background-color: #d8e2de;
    color: #fff;
    border-radius: 40px;
    border: none;
    font-family: inherit;
    font-size: 1remm;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    background-color: rgb(214, 227, 227);
}

.btn.upload{
    position: relative;
    background-color: rgb(35, 89, 72);
}

.btn .upload span{
    color: #000;
}

.upload:hover{
    background-color: #32cb65;
}

.btn.upload input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: azure;
    cursor: pointer;
    opacity: 0;
}

.right{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    pointer-events: none;
}

.image-wrapper{
    position: relative;
    grid-column: 2;
}

.image-wrapper .img{
    position: absolute;
    height: 130%;
    left: 60%;
    top:50%;
    transform: translate(-50%, -50%);
}

.wave-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}

.wave-wrap svg{
    position: absolute;
    height: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% - 2px);
}

#wave {
    fill: green;
    height: 100%;
}

.dashed-wave{
    position: absolute;
    z-index: 3;
    height: 130%;
    bottom: 60%;
    left: -28px;
    transform: translateY(50%);
}

#dashed-wave{
    fill: none;
    stroke: #014644;
    stroke-width: 1px;
    stroke-dasharray: 6.5;
    opacity: 0.8;
}
.form-wrapper{
    padding: 20px;
    margin: 5px;
    height: 600px;
    backdrop-filter: blur(25px);
    width: auto;
    display: flex;
    border: 5px solid #32cb9a;
    flex-direction: column;
    border-radius: 50px;
    background-color: #00100f;
}
h1{
    font-size: 25px;
}
.contact-input{
    width: 450px;
}
.contact-form{
    display: flex;
    flex-direction: column;
}
button:hover{
    background-color: #fff;
}
.container{
    height: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 700px;
   align-content: center;
}
.success{
    background-color: #fff;
    width: auto;
    text-align: center;
    font-size: small;
}